<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/prod.css">
<%- include('../includes/navb.ejs') %>
<%- include('../includes/users.ejs') %>

<main>
  <% if(product) { %>
  <div class="grid">
    <article class="card product-item">
      <header class="card__header">
        <h3 class="product__title"><%= product.title %></h3>
      </header>
      <div class="card__image">
        <img src="<%= product.image %>" alt="<%= product.title %>">
      </div>
      <div class="card__content">
        <h5 class="product__price">₹ <%= product.price %>/-</h5>
        <p class="product_description"><%= product.descr %></p>
      </div>
      <% if(isLogged) { %>
      <div class="card__actions">
        <form action="/cart" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn" type="submit"> Add to Cart</button>
          <input type="hidden" name="prodId" value="<%= product._id %>">
        </form>
      </div>
      <% } %>
    </article>
  </div>
  <% } else { %>
  <h5 class="centered">No products found.</h5>
  <% } %>
</main>

<%- include('../includes/close.ejs') %>
