<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/prod.css">
<link rel="stylesheet" href="/styles/ecart.css">
<%- include('../includes/navb.ejs') %>
<%- include('../includes/users.ejs') %>

<main>
  <div class="centered">
    <h3>Cart Items</h3>
    <% if(products.length > 0) { %>
    <ul class="cart__item-list">
      <% products.forEach(product => { %>
      <li class="cart__item">
        <p><%= product.prodId.title %></p>
        <p>₹ <%= product.prodId.price %>/-</p>
        <p><%= product.quantity %></p>
        <p>₹ <%= product.quantity * product.prodId.price %>/-</p>
      </li>
      <% })%>
    </ul>
    <div class="centered">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <a href="/checkout" class="btn">Order Now</a>
      <a href="/shop" class="btn"> Add Items </a>
    </div>
    <% } else { %>
    <div class="centered">
      <h5> No items here. </h5>
      <a href="/shop" class="btn"> Continue Shopping </a>
    </div>
    <% } %>
  </div>
</main>

<%- include('../includes/close.ejs') %>
