<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/order.css">
<%- include('../includes/navb.ejs') %>
<%- include('../includes/users.ejs') %>

<main>
  <div class="order-container">
    <h3 class="centered">Your Orders</h3>
    <% if(orders.length > 0) { %>
    <ul class="orders">
      <% orders.forEach(order => { %>
      <li class="orders__item">
        <h5>Order # <%= order._id %></h5>
        <ul class="orders__products">
          <% order.items.forEach(product => { %>
          <li class="orders__products-item"><%= product.title %> x <%= product.quantity %>
          </li>
          <% }) %>
        </ul>
      </li>
      <% })%>
    </ul>
    <div class="centered">
      <a href="/shop" class="btn"> Shopping </a>
      <a href="/checkout" class="btn"> Checkout </a>
    </div>
    <% } else { %>
    <div class="centered">
      <h5> No orders here. </h5>
      <a href="/shop" class="btn"> Continue Shopping </a>
    </div>
    <% } %>
  </div>
</main>

<%- include('../includes/close.ejs') %>
