<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/styles/prod.css">
<link rel="stylesheet" href="/styles/form.css">

<%- include('../includes/navb.ejs') %>
<%- include('../includes/users.ejs') %>

<main>
  <form class="product-form" action="/save-prod" method="post">
    <h3><%= docTitle %></h3>
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" autofocus />
    </div>
    <div class="form-control">
      <label for="image">Image</label>
      <input type="text" name="image" id="image" />
    </div>
    <div class="form-control">
      <label for="proce">Price</label>
      <input type="number" name="price" id="price" step="0.01" min="0.00" />
    </div>
    <div class="form-control">
      <label for="descr">Description</label>
      <textarea name="descr" id="descr" rows="5"></textarea>
    </div>
    <button class="btn" type="submit">Add Prod</button>
  </form>
</main>

<%- include('../includes/close.ejs') %>
